<footer class="footer py-6 bg-light">
	<div class="container text-center">
		<div>
			<a href="#">Brand</a>
		</div>

		<nav class="nav justify-content-center footer-nav my-4 my-sm-0">
			<a class="nav-link active" href="#">Home</a>
			<a class="nav-link" href="#">Link 1</a>
			<a class="nav-link" href="#">Link 2</a>
		</nav>

		<div class="copyrights">Copyright © Brand | All right reserved.</div>
	</div>
</footer>
