<header class="header">
	<nav class="navbar navbar-expand-lg navbar-light px-md-0 bg-transparent">
		<div class="container">
			<a class="navbar-brand" href="#">Brand</a>

			<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
					aria-expanded="false" aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item active">
						<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#">Link 1</a>
					</li>

					<li class="nav-item">
						<a class="nav-link" href="#">Link 2</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
</header>
