.section {
	padding-top: 8rem;
	padding-bottom: 8rem;
}

.section-head + .section-body,
.section-body + .section-bottom {
	margin-top: 6rem;
}

.section-intro {
	min-height: calc(100vh - 56px);
	display: flex;
	align-items: center;
}

@include media-breakpoint-down(sm) {
	.section {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	.section-head + .section-body,
	.section-body + .section-bottom {
		margin-top: 2.5rem;
	}
}
