/* Reset */
*,
*:before,
*:after {
	padding: 0;
	margin: 0;
	outline: 0;
}

details,
menu {
	display: block;
}

html,
body {
	height: 100%;
}

html {
	tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-size-adjust: none;
}

img, iframe, video, audio, object {
	max-width: 100%;
}

img, iframe {
	border: 0 none;
}

img {
	display: inline-block;
	height: auto;
}

a,
button,
input[type="submit"],
input[type="button"],
input[type="reset"],
input[type="file"],
input[type="image"],
label[for] {
	cursor: pointer;
}

a[href^="tel"],
button[disabled],
input[disabled],
textarea[disabled],
select[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	padding: 0;
	border: 0;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea,
a[href^="tel"] {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

textarea {
	-webkit-overflow-scrolling: touch;
	overflow-scrolling: touch;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

button:focus {
	outline: none;
}

input::placeholder {
	color: inherit;
	opacity: 1;
}

textarea::placeholder {
	color: inherit;
	opacity: 1;
}

input:-webkit-autofill,
input:focus:-webkit-autofill {
	-webkit-text-fill-color: inherit !important;
	-webkit-box-shadow: 0 0 0 1000px #fff inset;
}

table {
	width: 100%;
	border-spacing: 0;
}

nav ul,
nav ol {
	list-style: none outside none;
}

